<ul class="icons" aria-label="Elsewhere">
  <li><a href="https://www.semanticscholar.org/author/Chao-Chun-Hsu/23608432" aria-label="Semantic Scholar"><i class="ai ai-semantic-scholar" aria-hidden="true"></i></a></li>
  <li><a href="https://scholar.google.com/citations?user=3CGrZdkAAAAJ&hl=en" aria-label="Google Scholar"><i class="ai ai-google-scholar" aria-hidden="true"></i></a></li>
  <li><a href="https://twitter.com/chaochunh" aria-label="Twitter"><i class="fab fa-twitter" aria-hidden="true"></i></a></li>
  <li><a href="https://github.com/joe32140" aria-label="GitHub"><i class="fab fa-github" aria-hidden="true"></i></a></li>
  <li><a href="https://huggingface.co/joe32140" aria-label="Hugging Face"><span class="hf" aria-hidden="true">HF</span></a></li>
  <li><a href="https://drive.google.com/file/d/1VLotvhJDY7KOKzUDyIP6pvbQDjsl8pgR/view?usp=sharing" aria-label="Curriculum vitae"><i class="ai ai-cv" aria-hidden="true"></i></a></li>
</ul>
