<ul class="icons" aria-label="Elsewhere">
  <li><a href="https://www.semanticscholar.org/author/Chao-Chun-Hsu/23608432" aria-label="Semantic Scholar"><i class="ai ai-semantic-scholar" aria-hidden="true"></i></a></li>
  <li><a href="https://scholar.google.com/citations?user=3CGrZdkAAAAJ&hl=en" aria-label="Google Scholar"><i class="ai ai-google-scholar" aria-hidden="true"></i></a></li>
  <li><a href="https://twitter.com/chaochunh" aria-label="Twitter"><i class="fab fa-twitter" aria-hidden="true"></i></a></li>
  <li><a href="https://github.com/joe32140" aria-label="GitHub"><i class="fab fa-github" aria-hidden="true"></i></a></li>
  <li><a href="https://huggingface.co/joe32140" aria-label="Hugging Face"><svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" width="1em" height="1em" style="vertical-align:-0.15em"><path fill="currentColor" d="M35 45c-3.3 0-6-2.7-6-6s2.7-6 6-6 6 2.7 6 6-2.7 6-6 6m30 0c-3.3 0-6-2.7-6-6s2.7-6 6-6 6 2.7 6 6-2.7 6-6 6M50 2C23.4 2 2 23.4 2 50s21.4 48 48 48 48-21.4 48-48S76.6 2 50 2m0 88c-22.1 0-40-17.9-40-40S27.9 10 50 10s40 17.9 40 40-17.9 40-40 40m20-36c0 11-9 20-20 20s-20-9-20-20"/></svg></a></li>
  <li><a href="https://drive.google.com/file/d/1VLotvhJDY7KOKzUDyIP6pvbQDjsl8pgR/view?usp=sharing" aria-label="Curriculum vitae"><i class="ai ai-cv" aria-hidden="true"></i></a></li>
</ul>
